/* Lists */
ul ul,
ul ol,
ol ol,
ol ul {margin-bottom:0;}
ul.unstyled,
ol.unstyled {margin-left:0; list-style:none;}
dl {margin-bottom:20px;}
dt, dd {line-height:20px;}
dt {font-weight:bold;}
dd {margin-left:10px;}
strong {font-weight:bold;}
em {font-style:italic;}
.muted {color:#999999;}
abbr {font-size:90%; text-transform:uppercase; border-bottom:1px dotted #ddd; cursor:help;}

.bullet {list-style:disc;}
.bullet li {margin-left:20px;}

.inline {display:block;}
.inline li {display:inline-block; float:left; list-style:none;}

.dash li:before {content:"- ";}